.button-color{
    /* background-color: #BEBEBE ; */
    background-color:white;

}
.color-button
{
    background-color: #F08000;
}
.display-text{
    text-align: right;
}
.bg-color{
    background-color: #000000;
    /* background-color: #343a40; */

}